<% if current_user%>
<h1>@<%= current_user.username%>'s Twitter Feed</h1>
<%end%>
<p>Here is what your friends are saying:</p>

<div>
	<% @following_tweets.each do |tweet|%>
	<div>
		<p>@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id)%></p>
		<!-- html_safe allows people to use HTML tags within tweet, and lets us make links out of tags put in there. Also we can make links clickable. -->
		<p><%= tweet.message.html_safe%></p>
	</div>
	<%end%>
</div>
